{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $runeCount := strings.CountRunes .Content -}}
{{- $readingTime := int (math.Ceil (div (float $runeCount) 400.0)) -}}
{{- if lt $readingTime 1 }}{{ $readingTime = 1 }}{{ end -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" $readingTime | default (printf "%d 分钟" $readingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $runeCount := strings.CountRunes .Content -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" $runeCount | default (printf "%d 字" $runeCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
&nbsp;·&nbsp;<span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span> 次阅读</span>
